<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>Le Wagon Shanghai</h2>
          <p>Very cool city, the best</p>
        </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
        <a class="card-link" href="#" ></a>
      </div>

            <!-- insert <div class="card"> -->
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/brussels');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>Le Wagon Brussles</h2>
          <p>Very bad city, the worst</p>
        </div>
        <img class="card-user" src="https://avatars0.githubusercontent.com/u/36692058?v=4">
        <a class="card-link" href="#" ></a>
      </div>

            <!-- insert <div class="card"> -->
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/tokyo');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>Le Wagon Tokyo</h2>
          <p>Very sugary city, the sweetest</p>
        </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
        <a class="card-link" href="#" ></a>
      </div>

      <!-- insert <div class="card"> -->
    </div>
  </div>
</div>
